<!DOCTYPE html>
<html>
  <head>
    <style type="text/css" media="screen">
      #editor {
        font-size: 13px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 600px;
        height: 800px;
        padding: 10px;
      }
      #resultText {
        font-size: 17px;
        width: 600px;
        height: 800px;
        padding: 10px;
      }
      #containor {
        display: flex;
        justify-content: center;
      }
      #transBtn {
        width: 100px;
        margin: 20px;
      }
    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script
      type="text/javascript"
      src="../build/inglang.js"
      charset="utf-8"
    ></script>
  </head>
  <body>
    <div id="concontainor">
      <div id="containor">
        <div id="editor"></div>
        <textarea id="resultText" cols="100" rows="12"></textarea>
      </div>
      <input id="transBtn" type="submit" value="Submit" />
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.14/ace.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script type="text/javascript">
      var editor = ace.edit("editor");
      editor.setTheme("ace/theme/monokai");
      editor.resize();

      var transBtn = document.getElementById("transBtn");
      var resultText = document.getElementById("resultText");

      transBtn.addEventListener("click", () => {
        translate({ value: editor.getValue() }, resultText);
      });
    </script>
  </body>
</html>
